<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-For to the rescue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="(giorno, index) in giorni">
            {{ index + 1 }}. {{ giorno  }}
            <button @click="selectGiorno(giorno)">Selezionami</button>
            <button @click="scancelGiorno(index)">Scancellami</button>
            <span v-if="giorno == giornoSelezionato">🧑‍🌾</span>
        </div>

        <div v-if="giornoSelezionato">
            Il giorno selezionato è: {{ giornoSelezionato }}
        </div>
        <div v-else>
            Non hai selezionato alcun giorno
        </div>

        <button @click="cancelSelection()">Annulla selezione</button>
    </div>

    <script type="text/javascript" src="fore.js">
    </script>
</body>

</html>
